__pycache__/
*.pyc

# Artefatos de compilacao LaTeX
artigo/*.aux
artigo/*.bbl
artigo/*.blg
artigo/*.log
artigo/*.out
artigo/*.toc
artigo/*.pdf

# Dependencias do ferramental OntoUML
scripts/ontouml/node_modules/
